# =========================
# SECRETS
# =========================
.env
.env.*
client_secret.json

# =========================
# LOGS / TEMP
# =========================
*.log
cat.save
nano
*.bak

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# =========================
# VIRTUAL ENV
# =========================
.venv/
.venv_py39_backup/

# =========================
# DJANGO
# =========================
db.sqlite3
media/

# =========================
# OS / EDITOR
# =========================
.DS_Store
.idea/
.vscode/

# template volanti (temporaneo)
my_todos_admin.html

# local artifacts
.gitignore.BACKUP
agent_todos.html
realestate_app ultima versione.zip
